@import url('https://cdn.hugeicons.com/font/hgi-stroke-rounded.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8fafc;
}

* {
  box-sizing: border-box;
}
